body {
    background: #222222;
    text-align: center;

}

#top-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.HeadingButtons a{
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-family: Avenir, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
}

#HomePageButton a{
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    font-family: Avenir, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}


